@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Root and body elements*/
:root {
    --bgr-clr: #444;
    --btn-clr: #eeeeee;
    --txt-clr: whitesmoke;
    --txt-btn-clr: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgr-clr);
}

html {
    background: url(../images/wp8944713-4k-universal-studios-wallpapers.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;
    color: var(--txt-clr);
    font-family: "Roboto", sans-serif;
}

.home-button {
    color: var(--btn-clr);
    text-decoration: none;
}

/*Multiple elements classes*/
.trans {
    transform: translate(-50%, -50%);
}

.crs-point {
    cursor: pointer;
}

.dsp-block {
    display: block;
}

.txt-align {
    text-align: center;
}

.hide {
    display: none;
}

/*Welcome to the game page*/
.game {
    background-color: var(--bgr-clr);
    opacity: 0.9;
    max-width: 900px;
    min-height: 550px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
}

/*Menu*/
.menu-bar {
    width: 900px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    border-radius: 20px;
}

.home-icon,
.hamburger {
    font-size: 180%;
    margin-top: 10px;
    padding: 10px 20px;
    color: var(--txt-clr);
    border-radius: 20px;
}

/*Welcome text*/
.welcome-headline {
    margin-top: 20px;
}

.start-info-text {
    margin-top: 60px;
}

/*Username box*/
.name-section {
    margin-top: 80px;
}

.username {
    height: 30px;
    border-radius: 5px;
    border-style: none;
    width: 50%;
    background-color: var(--txt-clr);
}

/*Start button*/
.start-button {
    margin-top: 100px;
    height: 80px;
    width: 180px;
    border-radius: 10px;
    background-color: var(--btn-clr);
    color: var(--txt-btn-clr);
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
}

/*Choose a difficulty section*/
/*Difficulty buttons*/

.difficulty-buttons {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.diff-btns {
    margin: 10px;
    height: 70px;
    width: 140px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--btn-clr);
    color: var(--txt-btn-clr);
}


/*Questions section*/

.alternative-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    position: absolute;
    top: 65%;
    left: 50%;
    background-color: transparent;
}

.alternatives {
    margin: 10px 40px;
    height: 80px;
    width: 350px;
    background-color: var(--btn-clr);
    border-radius: 10px;
    color: var(--txt-btn-clr);
    font-weight: 700;
}

.alternatives:hover {
    opacity: 0.8;
}

.question {
    margin-top: 20px;
    font-size: 150%;
}

.next-question {
    position: absolute;
    top: 28%;
    left: 90%;
    background-color: black;
}

.next-question button {
    font-size: 300%;
    border: none;
    color: var(--txt-clr);
}

.time-left {
    display: flex;
    position: absolute;
    top: 90%;
    left: 10%;
    font-size: 150%;
}

.time-left p {
    margin-left: 10px;
}


.questions-score {
    display: flex;
    position: absolute;
    top: 91%;
    right: 5%;
}

.score-amount {
    padding-left: 20px;
}

.wrong-answer {
    background-color: red;
    color: var(--txt-clr);
}

.correct-answer {
    background-color: green;
    color: black;
}


/*Finished game section*/

.finished-headline {
    padding: 20px;
}

.finished-headline h2,
h3 {
    padding-top: 40px;
}

.play-again {
    display: grid;
    position: absolute;
    top: 70%;
    left: 50%;
}

.play-again-button {
    margin: 10px 60px;
    height: 80px;
    width: 220px;
    background-color: var(--btn-clr);
    border-radius: 10px;
    color: var(--txt-btn-clr);
}

/*Game rules section*/

.rules {
    position: absolute;
    display: grid;
    top: 40%;
    left: 50%;
}

.rules h1 {
    text-align: center;
    font-size: 200%;
}

.rules-list {
    padding-top: 40px;
}

.rules-list li {
    padding-top: 10px;
}

#to-diff-button {
    margin-top: 50px;
    height: 80px;
    background-color: var(--btn-clr);
    color: var(--txt-btn-clr);
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 10px;
    border-style: none;
}

#to-diff-button:hover {
    font-size: 170%;
}

@media only screen and (max-width: 900px) {

    .game,
    .menu-bar,
    .start-button {
        max-width: 90vw;
        min-height: 80%;
    }

    .username {
        width: 90%;
    }

    .alternative-box {
        display: block;
        top: 55%;
    }

    .alternatives {
        height: 60px;
        width: 80vw;
    }

    .difficulty-buttons {
        flex-direction: column;
        margin-left: 4%;
    }

    .diff-btns {
        width: 80vw;
    }

    .next-question {
        display: block;
        top: 25%;
        left: 75%;
    }

    .next-question button {
        font-size: 200%;
    }

    .time-left {
        top: 80%;
        left: 10vw;
    }

    .questions-score {
        flex-direction: column;
        top: 88%;
    }
}