@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Root and body elements*/
:root {
    --bgr-clr: #444;
    --btn-clr: #333;
    --txt-clr: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgr-clr);
}

html {
    background: url(../images/wp8944713-4k-universal-studios-wallpapers.jpg) no-repeat center center;
    background-size: cover;
    min-height: 100%;
    color: var(--txt-clr);
    font-family: "Roboto", sans-serif;
}

/*Multiple elements classes*/
.trans {
    transform: translate(-50%, -50%);
}

.crs-point {
    cursor: pointer;
}

.dsp-block {
    display: block;
}

.txt-align {
    text-align: center;
}

/*Welcome to the game page*/
.welcome-game-area,
.difficulty-game-area {
    background-color: var(--bgr-clr);
    opacity: 0.9;
    max-width: 900px;
    min-height: 550px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

/*Menu*/
.menu-bar {
    width: 900px;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.home-icon,
.hamburger {
    font-size: 180%;
    padding: 10px 20px;
    color: var(--txt-clr);
}

/*Welcome text*/
.welcome-headline {
    margin-top: 20px;
}

.start-info-text {
    margin-top: 60px;
}

/*Username box*/
.name-section {
    margin-top: 80px;
}

.username {
    height: 30px;
    border-radius: 5px;
    border-style: none;
    width: 50%;
    background-color: var(--txt-clr);
}

/*Start button*/
.start-button {
    margin-top: 100px;
    height: 80px;
    width: 180px;
    border-radius: 10px;
    background-color: rgba(0, 255, 128, 0.521);
    color: var(--txt-clr);
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto";
}

/*Difficulty buttons*/

.difficulty-buttons {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.diff-btns {
    margin: 10px;
    height: 70px;
    width: 140px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--btn-clr);
    color: var(--txt-clr);
}